<main id="main" class="bg">
    <div id="apply">
        <h2 style="font-weight: bold;color: white;">Welcome {{firstname}}!</h2>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex" style="width: 425px;">
            <span class="rounded p-3" style="background-color: #451952;color: #F5F5F5;">
                <div class="mb-1">Click here to apply for Tamil Nadu Housing Board Flat/House/Plot</div>
                <div><button class="btn" style="background-color: #B0578D;" routerLink="/all-schemes">Apply</button>
                </div>
            </span>
        </div>

        <!-- <div class="loading-container">
            <div class="box-loading">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div> -->
    </div>
</main>